*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Circular';
}

:root{
    --black: #000;
    --black-secondary: #222326;
    --white: #fff;
    --green: #1ED760;
    --gray: #d9dadc;
    --gray-dark: #919496;
}