@media screen and (max-width: 992px){
    .header .navbar-nav .nav-item .divider{
        display: none;
    }

    .secao-topo{
        flex-direction: column;
        height: auto;
        padding: 3rem;
    }

    .secao-topo h1{
        font-size: 3rem;
    }

    .secao-topo div:nth-child(1){
        display: none;
    }

    .secao-vantagens{
        height: auto;
    }

    .secao-vantagens h1{
        padding-bottom: 1rem;
    }

    .secao-vantagens h4{
        padding-top: 1rem;
    }

    .secao-gratis{
        padding: 1rem;
    }

    .secao-gratis h1,
    .secao-baixar-spotify h1{
        text-align: center;
        font-size: 2rem;
    }

    .secao-baixar-spotify{
        padding: 1rem;
    }

    .footer{
        padding: 2rem 0;
        height: auto;
    }

    .footer img{
        width: 6rem;
    }

    .footer #area-redes-sociais{
        justify-content: start;
    }
    
    .footer .copiright{
        gap: 2rem;
        padding-top: .6rem;
    }

    .footer .copiright a,
    .footer .copiright small{
        padding: 0 .4rem;
        font-size: .6rem;
    }
}