/* Header */
.header .navbar .logo{
    width: 8rem;
}

.header .navbar .navbar-toggler svg{
    color: var(--white);
    font-size: 1.6rem;
}

.header .navbar-nav .nav-item{
    padding: 0 .7rem;
}

.header .navbar-nav .nav-item .nav-link{
    color: var(--white);

    transition: all 0.1s ease-out;
}

.header .navbar-nav .nav-item .nav-link[data-color="gray"]{
    color: var(--gray);
}

.header .navbar-nav .nav-item .nav-link:hover,
.header .navbar-nav .nav-item .nav-link[data-color="gray"]:hover{
    color: var(--green);
}

.header .navbar-nav .nav-item .divider{
    display: block;
    margin: 0 auto;

    width: .1rem;
    height: 1rem;

    background: var(--white);
}

/* Seção topo */
.secao-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    padding-top: 7rem;

    background: 
        url(https://www.scdn.co/i/free/bubbles-dktp.svg) 
        center -138px / 100% 1068px no-repeat, 
        linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
}

.secao-topo h1{
    font-size: 4rem;
}

.secao-topo img{
    width: 18rem;
}

/* Seção vantagens */

.secao-vantagens{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
}

.secao-vantagens h1{
    padding-bottom: 3rem;
}

.secao-vantagens h4{
    padding-top: 2rem;
}

.secao-vantagens img{
    width: 9rem;
}

/* Seção gratis */
.secao-gratis{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 60vh;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}

.secao-gratis h1{
    font-size: 3rem;
}

/* Dúvidas */
.secao-duvidas{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
}

#accordion .card{
    border: 0;
}

#accordion .card p span{
    color: var(--green-dark);
}

#accordion .card .card-header{
    background: var(--white);
    border-bottom: .05rem solid var(--gray);

    transition: all 0.3s ease-out;
}

#accordion .card .card-header:hover{
    background: var(--white-secondary);
}

#accordion .card .card-header h5 button{
    font-size: 1.2rem;
}

#accordion .card .card-header h5 button:hover{
    color: var(--black);
}

/* Seção baixar spotify */
.secao-baixar-spotify{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 60vh;
    background: 
        url(https://www.scdn.co/i/free/lets-play.svg) 
        left -10px bottom -220px / 100% 1114px no-repeat, 
        linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
}

.secao-baixar-spotify h1{
    font-size: 4.4rem;
}

/* Footer */
.footer{
    padding: 6rem 0;

    height: 80vh;
}

.footer #area-redes-sociais{
    display: flex;
    gap: 1rem;

    justify-content: end;
}

.footer .links a{
    display: block;
    padding-bottom: 1rem;
}

.footer .copiright{
    padding-top: 4rem;
}

.footer .links a,
.footer .copiright a{
    text-decoration: none;
}

.footer .copiright a,
.footer .copiright small{
    padding: 0 .6rem;
    font-size: .8rem;
    color: var(--gray-dark);
}

.footer a:hover,
.footer .copiright a:hover{
    color: var(--green);
}

.footer .copiright div:last-child{
    text-align: right;
}



